:root {
    /* Basic */
    --fg: black;
    --bg: #fcfcfc;
    --table-head: #f2f2f2;

    /* Menu */
    --fg-menu: #5b3355;
    --fg-menu-hover: #3a2237;
    --fg-menu-heading: #271625;
    --fg-menu-divider: #eddeea;
    --fg-menu-border: #eceaec;
    --bg-menu-foc: #f1e7ef;
    --bg-menu-children: #fbf9fb;

    /* Links */
    --fg-sec-link: grey;
    --fg-link: #640d57;
    --fg-link-hover: #999;

    /* Footer */
    --fg-footer-pipe: #555;
    --fg-footer-divider: lavender;

    /* Inline code */
    --border-inline-code: #c8c8c8;
    --bg-inline-code: #f7f7f7;

    /* Display code */
    --fg-variable: #9A9A9A;
    --fg-string: #454545;
    --fg-output: #303030;
    --fg-nametag: #3B3B3B;
    --fg-nameclass: #7E7E7E;
    --fg-literal: #676767;
    --fg-keyword: #575757;
    --fg-exception: black;
    --fg-comment: #888888;
    --fg-comment2: #666666;
    --bg-code-accent: #f8edff;
    --fg-diff-added: #005000;
    --fg-diff-deleted: #8f1313;
    --fg-bqn-sub: #005e8b;
    --fg-bqn-1-mod: #731c52;
    --fg-bqn-2-mod: #531ab6;
    --fg-bqn-string: #3548cf;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Basic */
        --fg: #eaf2ef;
        --bg: #332c31;
        --table-head: #2d272b;

        /* Menu */
        --fg-menu: #cc9bcf;
        --fg-menu-heading: #aac0cf;
        --fg-menu-divider: #594a4f;
        --fg-menu-border: #594a4f;
        --bg-menu-foc: #392a2f;
        --bg-menu-children: #3f373c;

        /* Links */
        --fg-link: #d662c3;
        --fg-link-hover: #bbb;

        /* Footer */
        --fg-footer-pipe: #999;
        --fg-footer-divider: #bf9cdf;

        /* Inline code */
        --border-inline-code: #585858;
        --bg-inline-code: #443b41;

        /* Display code */
        --fg-string: #b0b0b0;
        --fg-output: #e0e0e0;
        --fg-nametag: #ebebeb;
        --fg-nameclass: #d0d0d0;
        --fg-literal: #d0d0d0;
        --fg-keyword: #c0c0c0;
        --fg-exception: white;
        --fg-comment: #aaa;
        --fg-comment2: #999;
        --bg-code-accent: #5e3f52;
        --fg-diff-added: #a0e0a0;
        --fg-diff-deleted: #ffbfbf;
        --fg-bqn-sub: #00d3d0;
        --fg-bqn-1-mod: #cf7fa7;
        --fg-bqn-2-mod: #b6a0ff;
        --fg-bqn-string: #79a8ff;
    }
}
