/*** General ***/

/* Apply a more natural box layout model to all elements, but allow
   components to change; c.f., [1] and [2].
   Source: https://github.com/sindresorhus/modern-normalize/pull/56
   [1]: https://www.paulirish.com/2012/box-sizing-border-box-ftw/
   [2]: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    color: var(--fg);
    background-color: var(--bg);

    font-size: 21px;
    font-family: var(--proportional-fonts);
    font-variant-numeric: oldstyle-nums;
    font-display: block;
    line-height: 1.4;

    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;            /* justification ⇒ hyphenation */
    text-rendering: optimizeLegibility;
    margin: 0;

    /* For stacking the navigation bar next to the main text. */
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;

    @media (width >= 1367px) { /* On bigger screens, move the body text closer towards the centre */
        width: 82%;
        padding-right: 18%;
        margin-left: auto;
        margin-right: auto;
    }
    @media (width <= 1366px) {  /* Adjust size for smaller screens */
        width: 87%;
        padding-right: 13%;
        max-width: 960px;
        margin-right: 3em;
        font-size: 19px;
    }
    @media (width <= 960px) {  /* Ease up on this again for *very* small screens */
        width: 100%;
        padding-right: 0%;
        margin-right: 0;
        text-align: left;  /* Raggedright on phones */
    }
}

.text-space {
    display: inline-block;
    width: 75%;
    @media (width <= 767px) { /* Use full width on phones */
        width: 100%;
    }
}

div#content {           /* body width */
    margin-right: 1em;
    max-width: 720px;
    max-width: 35em;
}


/* Don't split up a citation over multiple lines. */
div.csl-left-margin  { display: inline; }
div.csl-right-inline { display: inline; }
/* No justification for references, as otherwise it's rivers galore. */
div#refs {
    text-align: left;
    td { vertical-align: top; } /* Align citations to the top. */
}

/* For some tables we'd like visual separators. */
div#border-table table {
  border-collapse: collapse;
  width: 100%;
  tr {
      vertical-align: top;
      text-align: left;
  }
  th, td {
      padding: 8px;
      text-align: left;
      border: 1px solid #ddd;
  }
  th {
      background-color: var(--table-head);
      font-weight: bold;
      font-style: normal;
  }
}

/*** Further font settings ***/

pre {                   /* Block code */
    text-align: left;
    font-size: 0.85em;
    font-family: var(--monospace-fonts);
    font-variant-numeric: normal;  /* No oldstyle figures in code */
    white-space: pre;
    overflow-x: auto;
    overflow-y: hidden;
}

code {                  /* Inline code */
    font-size: 0.87em;
    font-family: var(--monospace-fonts);
    font-variant-numeric: normal;  /* No oldstyle figures in code */
    background: var(--bg-inline-code);
    border-radius: 0.25rem;
    padding: 0 2px;
    border: 1px solid var(--border-inline-code);
    word-break: break-word;
}

blockquote {            /* Block quotes */
    font-size: 0.95em;
    border-left: 4px solid var(--border-inline-code);
    margin: 20px 0;
    padding-left: 20px;
}

.included {             /* Included verbatim files */
    border-left: 4px solid var(--border-inline-code);
    margin: 20px 0;
    padding-left: 20px;
    padding-bottom: 0.4em;
}

.katex {                /* All maths */
    font-size: 0.9em !important;
}
.katex-display {        /* Display maths */
    font-size: 1.1em !important;
}

/*** Footer ***/

div#footer {            /* Footer with RSS feed etc. */
    border-top: solid 1px var(--fg-footer-divider);
    color: var(--fg-footer-pipe);
    font-size: 0.78em;
    margin-top: 30px;
    padding: 9px 1em 12px 1em;
    text-align: right;
    max-width: 50rem;
}

hr {                    /* That line before the footnotes */
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--fg-footer-divider);
    margin: 1em 0; padding: 0;
}

img.fleuron-block {     /* A fleuron at the end of a post */
    margin-right: auto;
    margin-left: auto;
    max-width: 2.5cm;
    height: auto;
    padding: 3rem 1.5rem 2.5rem 1.5rem;
    display: block;
    @media (prefers-color-scheme: dark) {
        /* https://codepen.io/sosuke/pen/Pjoqqp */
        filter: invert(95%) sepia(8%) saturate(114%) hue-rotate(106deg) brightness(102%) contrast(91%);
    }
}

/*** Headings ***/

.header {
    font-size: 0.9em;
    text-align: left;
    margin-top: 3.1rem;
    margin-bottom: 1rem;
    color: var(--fg-header);
    a:link    { color: var(--fg-header); }
    a:visited { color: var(--fg-header); }
    @media (width <= 768px) {
        margin-top: 0; /* Navbar is on top for phones */
    }
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--title-fonts);
}

h1 {                    /* Title of a non-post */
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    &.post-title {        /* Post title */
        line-height: 1;
        font-variant: normal;
        text-align: left;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        font-weight: bold;
        font-size: 5rem;
        @media (width <= 1366px) {
            font-size: 4rem;
        }
    }
}
div#title-underline {
    max-width: 50rem;
    border-top: solid 1px var(--fg-header);
    padding-bottom: 2rem;
}

h2 {                    /* First "real" header */
    font-size: 1em;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
}

h3 {
    font-size: 0.9em;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
}

h4 {
    font-size: 0.85em;
}

h5 {
    font-size: 0.8em;
    line-height: 1;
}

h2, h3, h4 {
    line-height: 1.2;
}

:is(h2, h3, h4, h5, h6)[id] { /* Id means it has a link associated to it */
    margin-left: -15px;
}

/*** Table of contents (TOC)

There are two table of contents:

  + For bigger screens, it contained in the left margin and `sticky';
    i.e., moves along with the user as they scroll.

  + For smaller screens, it is embedded within the text, at the very top
    of the page.

Because I don't know how else to do this without JS, there are simply
two div classes: `contents' and `contents-big'.  The former is defined
in the `default.html' template, while the latter is in `post.html' and
`toc.html`.  *Both are always embedded in the page*, we just use some
media queries to hide what we don't want to see.
***/

/* Settings that are the same regardless of size */
div#contents,
div#contents-big {
    font-size: 90%;
    font-family: var(--serif-fonts);
    padding-top: 0.25em;
    max-width: 240px;
    max-width: 15rem;
    max-width: 30%;
    min-width: 25%;
    min-width: 180px;
    text-align: left;
    ul {
        font-size: 85%;      /* In relation to div#contents */
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding-left: 0;
        line-height: 1.2;
        list-style-type: none;
        margin-left: 0;
    }
    ul ul {
        padding-left: 1.5em;
    }
    li + li {
        margin-top: 0.5em;
    }

    /* Change the appearance of links in the TOC, so as to lower its
       intrusivity, since it is now visible most of the time. */
    a:link, a:visited {
        font-size: 110%;         /* In relation to & ul */
        color: var(--fg);
        text-decoration: none;
    }
    a:hover {
        background: var(--bg);
        text-decoration: 1px underline;
        text-underline-offset: 0.1em;
    }

    /* This horrible contraption matches against the outermost headings;
       only these should be small-capsed. */
    & > ul > li > a:link, & > ul > li > a:visited {
        font-size: 100%;         /* In relation to & ul */
        word-spacing: 0.06em;
        letter-spacing: 0.02em;
        font-variant: small-caps;
    }
}
.mini-header {
    font-weight: bold;
    margin-bottom: 0.5em;
}

/* Bigger screens */
div#contents-big {
    clear: both;        /* Don't collide with the sidebar. */
    margin-right: 1.7em;
    margin-left: 0.25em;
    position: sticky;
    top: 0;
    left: 100%;
    @media (width <= 1366px) {  /* Adjust padding for medium screens */
        padding-left: 1.25em;
    }
    @media (width <= 768px) {
        visibility: hidden; /* Hide on smaller screens */
        position: fixed;
    }
}

/* Smaller screens */
div#contents {
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.75em;
    margin-bottom: 0.75em;
    float: right;
    position: static;
    @media (width >= 769px) { /* Hide on bigger screens */
        visibility: hidden;
        position: fixed;
    }
}

/* The "↑" link in the TOC */
a#up-arrow {
    float: right;
    font-size: 0.9em;
    margin-right: 0.5em;
}

/*** Links ***/

a {
    &:link {
        color: var(--fg-link);
        text-decoration: none;
        & > code { /* iosevka has no proper small caps support: github.com/be5invis/Iosevka/issues/140 */
            font-variant: normal;
        }
    }
    &:hover {
        background: var(--bg-code-accent);
        @media (prefers-color-scheme: light) {
            text-decoration: 1px underline;
            text-underline-offset: 0.1em;
        }
    }
    &:visited {
        color: var(--fg-link);
        text-decoration: none;
    }

    /* Links that should not be coloured. */
    &.invis {
        &:link, &:visited {
            color: var(--fg);
            background: var(--bg);
        }
    }
}

.floatright {           /* Feed links float to the right. */
    float: right;
    font-variant: normal;
    font-size: 15px;
}

/* A little "TOP" indicator at the bottom of the page, but only if the
   page is not wide enough to support a TOC in the left margin (which
   includes such a thing). */
a#to-top {
    font-variant: small-caps;
    float: left;
    position: static;
    font-size: 16px;
    margin-top: -2px;
    @media (width >= 769px) {
        position: fixed;
        visibility: hidden;
    }
}

/* Local links are specially indicated. */
.local-link::after {
    content: "°";
    margin-left: 1px;
}

/**** Section links ****/

.floatleft {           /* Section links float to the left. */
    float: left;
    margin-left: -20px; /* Negation of `padding-left' */
    padding-left: 20px;
    padding-right: 6px;
    font-variant: normal;
    font-size: 0.8em;
    line-height: 1.5;
}

:is(h1, h2, h3, h4, h5, h6) .sec-link {
    text-decoration: none;
    color: var(--fg-sec-link);
    visibility: hidden;
}

:is(h1, h2, h3, h4, h5, h6):hover .sec-link {
    visibility: visible;
    background: var(--bg);
}

/*** Accordion menus ***/

summary {
    padding-top: 1rem;
    display: block;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
    &:before {
        content: '';
        border-width: .4rem;
        border-style: solid;
        border-color: transparent transparent transparent var(--fg);
        position: absolute;
        top: 1.5rem;
        left: 1rem;
        transform: rotate(0);
        transform-origin: .2rem 50%;
        transition: .25s transform ease;
    }
}

details {
    border-left: 4px solid var(--border-inline-code);
    margin: 20px 0;
    padding-left: 20px;
    padding-bottom: 0.4em;
    &[open] > summary:before {  /* Turn ▸ (closed) into ▾ (open) on click. */
        transform: rotate(90deg);
    }
}

/*** Misc ***/

span.email b {                  /* Email obfuscation */
    display: none;
}

abbr[title] {
    border-bottom: none;
    text-decoration: 1px underline dotted;
}

img {
    max-width: 100%;
    height: auto;
}

.fourgrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.tikzpicture {
    height: 400px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    @media (prefers-color-scheme: dark) {
        /* https://codepen.io/sosuke/pen/Pjoqqp */
        filter: invert(95%) sepia(8%) saturate(114%) hue-rotate(106deg) brightness(102%) contrast(91%);
    }
}

spoiler {                       /* Spoiler tags */
    background-color: var(--border-inline-code);
    color: transparent;
    user-select: none;
    &:hover {
        background-color: inherit;
        color: inherit;
    }
}

span.small-caps {
    font-variant: small-caps;
}
