/* Apply a more natural box layout model to all elements, but allow
   components to change; c.f., [1] and [2].
   Source: https://github.com/sindresorhus/modern-normalize/pull/56
   [1]: https://www.paulirish.com/2012/box-sizing-border-box-ftw/
   [2]: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    color: black;
    font-size: 23px;
    font-family: var(--proportional-fonts);
    font-variant-numeric: oldstyle-nums;
    line-height: 1.4;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;            /* justification ⇒ hyphenation */
    text-rendering: optimizeLegibility;
}

span.small-caps {
    font-variant: small-caps;
}

div#content {           /* body width */
    margin-right: 1em;
    max-width: 720px;
    max-width: 35em;
}

@media (min-width: 1367px) { /* On bigger screens, move the body text closer towards the centre */
    body {
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 1366px) {  /* Adjust size for smaller screens */
    body {
        max-width: 960px;
        margin-right: 3em;
        font-size: 21px;
    }
}
@media (max-width: 768px) {  /* Ease up on this again for *very* small screens */
    body {
        margin-right: 0;
    }
}

/* Don't split up a citation over multiple lines. */
div.csl-left-margin {
    display: inline;
}
div.csl-right-inline {
    display: inline;
}
/* Align citations to the top. */
div#refs td {
    vertical-align: top;
}

/* For some tables we'd like visual separators. */
div#border-table table tr {
    vertical-align: top;
    border-top: 1px dotted black;
}

/**********************************************************************
  FURTHER FONT SETTINGS
*/

.pure-g [class *="pure-u"],
.pure-g-r [class *="pure-u"] {               /* body */
    font-family: var(--proportional-fonts);
    text-rendering: optimizeLegibility;
}

pre {                   /* Block code */
    text-align: left;
    font-size: 0.85em;
    font-family: var(--monospace-fonts);
    font-variant-numeric: normal;  /* No oldstyle figures in code */
    white-space: pre;
    overflow-x: auto;
}

code {                  /* Inline code */
    font-size: 0.95em;
    font-family: var(--monospace-fonts);
    font-variant-numeric: normal;  /* No oldstyle figures in code */
    background: #f7f7f7;
    border-radius: 0.25rem;
    padding: 0 0.25rem;
    border: 1px solid #f5f5f5;
}

blockquote {            /* Block quotes */
    font-size: 0.95em;
    line-height: 1.3;
}

span.mjpage {           /* All maths */
    font-size: 0.85em;
}

span.mjpage__block {    /* Display maths */
    font-size: 0.9em;
}

/**********************************************************************
  FOOTER
*/

div#footer {            /* Footer with RSS feed etc. */
    border-top: solid 1px lavender;
    color: #555;
    font-size: 0.78em;
    margin-top: 30px;
    padding: 9px 1em 12px 1em;
    text-align: right;
    max-width: 50rem;
}

hr {                    /* That line before the footnotes */
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid lavender;
    margin: 1em 0; padding: 0;
}

/**********************************************************************
  HEADINGS
*/

.header {               /* Header below the title */
    font-size: 0.95em;
    font-style: italic;
    text-align: left;
}

h1 {                    /* Reserved for title */
    font-size: 1.5em;
    font-variant: small-caps;
    font-variant-numeric: normal;  /* No oldstyle figures for all-caps titles */
    word-spacing: 0.1em;
    letter-spacing: 0.02em;
    text-align: center;
}

h2 {                    /* First "real" header */
    font-size: 1.25em;
}

h3 {
    font-size: 1.15em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 1.05em;
    line-height: 1;
}

h2, h3, h4 {
    line-height: 1.2;
}

h2, h3, h4, h5, h6 {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--serif-fonts);
}

:is(h1, h2, h3, h4, h5, h6)[id] { /* Id means it has a link associated to it */
    margin-left: -20px; /* Same as `margin-left' of `floatleft' */
}

/**********************************************************************
  LEFT HAND SIDE NAVIGATION
*/

div#navigation {
    text-align: right;
    padding-left: 1.25em;
    padding-right: 3em;
    padding-top: 1.25em;
    padding-bottom: 1em;
    position: static;
    float: right;
    display: inline-block;
}

div#navigation a {
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    text-transform: none;
}

div#navigation .menu-title {
    font-size: 19px;
}

div#navigation span.menu-subtitle {
    font-size: 19px;
    font-weight: normal;
    font-style: italic;
}

/* On slightly smaller screens, left-align the navigation. */
@media (max-width: 1366px) {
    div#navigation {
        float: none;
        padding-right: 1em;
    }
}

/* On much smaller screens; i.e., mobile or heavily zoomed in, put the
   navigation at the top instead.
*/
@media (max-width: 767px) {
    div#navigation {
        position: static;
        text-align: center;
        display: block;
    }

    div#navigation > .pure-menu.pure-menu-open > ul > li {
        display: inline-block;
        zoom: 1;
        *display: inline;
    }

    div#content {
        margin-left: 1em;
    }
}

/**********************************************************************
  TABLE OF CONTENTS

There are two table of contents:

  + For bigger screens, it contained in the left margin and `sticky';
    i.e., moves along with the user as they scroll.

  + For smaller screens, it is embedded within the text, at the very top
    of the page.

Because I don't know how else to do this without JS, there are simply
two div classes: `contents' and `contents-big'.  The former is defined
in the `default.html' template, while the latter is in `post.html' and
`toc.html`.  *Both are always embedded in the page*, we just use some
media queries to hide what we don't want to see.
*/

/* Settings that are the same regardless of size */
div#contents,
div#contents-big {
    font-size: 0.85em;
    font-family: var(--serif-fonts);
    padding-top: 0.25em;
    max-width: 240px;
    max-width: 15rem;
    max-width: 30%;
    min-width: 25%;
    min-width: 180px;
    text-align: left;
}
div#contents ul,
div#contents-big ul {
    font-size: 85%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 1em;
    line-height: 1.2;
}
div#contents li + li,
div#contents-big li + li {
    margin-top: 0.25em;
}
.mini-header {
    font-weight: bold;
}

/* Change the appearance of links in the TOC, so as to lower its
   intrusivity, since it is now visible most of the time. */
div#contents-big a:link,
div#contents     a:link {
    color: black;
    font-variant: small-caps;
    word-spacing: 0.06em;
    letter-spacing: 0.02em;
    text-decoration: none;
}
div#contents-big a:visited,
div#contents     a:visited {
    color: black;
    font-variant: small-caps;
    word-spacing: 0.06em;
    letter-spacing: 0.02em;
    text-decoration: none;
}
div#contents-big a:hover,
div#contents     a:hover {
    color: #999;
}

a:link > code,     /* iosevka has no proper small caps support: github.com/be5invis/Iosevka/issues/140 */
a:visited > code {
    font-variant: normal;
    font-size: 0.95em;
    border-radius: 0;
    padding: 0;
    border: 0;
}
/* The "↑" link in the TOC */
a#up-arrow {
    float: right;
    font-size: 0.9em;
    margin-right: 0.5em;
}

/* Bigger screens */
div#contents-big {
    clear: both;        /* Don't collide with the sidebar. */
    margin-right: 1.7em;
    margin-left: 0.25em;
    position: sticky;
    top: 0;
    left: 100%;
}

/* Smaller screens */
div#contents {
    background-color: #fbf9fb;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.75em;
    margin-bottom: 0.75em;
    float: right;
    position: static;
}

/* Toggling between the two TOCs */
@media (min-width: 769px) {
    div#contents {
        position: fixed;         /* Don't collide with anything */
        visibility: hidden;
    }
}
@media (max-width: 768px) {
    div#contents-big {
        position: fixed;         /* Don't collide with anything */
        visibility: hidden;
    }
}

/**********************************************************************
  LINKS
*/

a:link {
    color: #640d57;
    text-decoration: none;
}

a:hover {
    color: #999;
    text-decoration: 1px underline;
    text-underline-offset: 0.1em;
}

a:visited {
    color: #640d57;
    text-decoration: none;
}

.floatright {           /* Feed links float to the right. */
    float: right;
    font-variant: normal;
    font-size: 15px;
}

/* A little "TOP" indicator at the bottom of the page, but only if the
   page is not wide enough to support a TOC in the left margin (which
   includes such a thing). */
a#to-top {
    font-variant: small-caps;
    float: left;
    position: static;
    font-size: 16px;
    margin-top: -2px;
}
@media (min-width: 769px) {
    a#to-top {
        position: fixed;
        visibility: hidden;
    }
}

/**********************************************************************
  SECTION LINKS
*/

.floatleft {           /* Section links float to the left. */
    float: left;
    margin-left: -20px; /* Negation of `padding-left' */
    padding-left: 20px;
    padding-right: 6px;
    font-variant: normal;
    font-size: 0.8em;
    line-height: 1.5;
}

:is(h1, h2, h3, h4, h5, h6) .sec-link {
    text-decoration: none;
    color: grey;
    visibility: hidden;
}

:is(h1, h2, h3, h4, h5, h6):hover .sec-link {
    visibility: visible;
}

/**********************************************************************
  CODE BLOCKS
*/

div .highlight {
    padding-left: 1em;
}
