@charset "UTF-8";

/* Fonts taken from github:adobe-fonts/source{sans,serif}

Originally inspired by https://github.com/gwern/gwern.net/tree/master/css

I like the `IBM Plex' font much more than `Source Sans Pro' but, alas,
the former does not have small caps glyphs.

*/

:root {
    --proportional-fonts: "Source Sans Pro", sans-serif;
    --monospace-fonts: "Iosevka Custom", monospace;
    --serif-fonts: "Source Serif Pro", serif;
}

@font-face {
    font-family: 'Source Serif Pro';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/SourceSerif4-Regular.otf') format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Source Serif Pro';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/SourceSerif4-It.otf') format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Source Serif Pro';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/SourceSerif4-Semibold.otf') format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Source Serif Pro';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/SourceSerif4-SemiboldIt.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/SourceSans3-Regular.otf') format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/SourceSans3-It.otf') format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/SourceSans3-Semibold.otf') format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/SourceSans3-SemiboldIt.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Custom';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/iosevka-custom-regular.ttf') format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Iosevka Custom';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/iosevka-custom-italic.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Iosevka Custom';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/iosevka-custom-bold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Iosevka Custom';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/iosevka-custom-bolditalic.ttf') format('truetype');
    font-display: swap;
}
