.navbar-space { /* Space the thing takes up most of the time */
    display: inline-block;
    width: 25%;
}

div#navigation {
    text-align: right;
    padding-left: 1.25em;
    padding-right: 3em;
    padding-top: 2.2em;
    padding-bottom: 1em;
    position: static;
    float: right;
    display: inline-block;

    .menu-title {
        font-size: 19px;
        color: var(--fg);
        border-bottom: 1px solid var(--fg-menu-border);
    }

    ul { /* Individual bullet points */
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a { /* Clickable parts */
        font-size: 19px;
        font-weight: bold;
        border: 1px solid transparent;
        border-left: none;
        border-right: none;
        color: var(--fg-menu);
        display: block;
        line-height: 1.5em;
        padding: 5px 20px;
        white-space: nowrap;
        &:hover {
            background: var(--bg);
            text-decoration: 1px underline;
            text-underline-offset: 0.1em;
        }
    }

    /* On medium screens, left-align the navigation. */
    @media (width <= 1366px) {
        float: none;
        padding-right: 1em;
    }
}

/* On much smaller screens; i.e., mobile or heavily zoomed in, put the
   navigation at the top instead. */
@media (width <= 767px) {
    body > .navbar-space {
        width: 100%;
    }

    div#navigation {
        position: static;
        text-align: center;
        display: block;
        a { padding: 5px 10px; }
    }

    div#navigation > ul > li {
        display: inline-block;
        zoom: 1;
        *display: inline;
    }

    div#content {
        margin-left: 1em;
    }
}
