/* Originally based on the `friendly_grayscale' and `algol_nu` styles and
   inspired by the [stimmung-themes], now mostly based on colours from the
   [modus-themes] and [sesq]. Per-language overrides at the bottom.

   [stimmung-themes]: https://github.com/motform/stimmung-themes
   [modus-themes]: https://github.com/protesilaos/modus-themes
   [sesq]: https://krasjet.com/voice/sesq
*/

/* Comments */
.c, .ch, .cm, .c1, .cpf  { color: var(--fg-comment); font-style: italic; }
.cs                      { color: var(--fg-comment); font-weight: bold;  }
.cp                      { color: var(--fg-dim);     font-weight: bold;  }
/* Keywords, operators, tags */
.k, .kd, .kn, .kp, .kr, .kt, .o, .ow, .nt { font-weight: bold; }
/* User-defined names */
.nf, .nc, .nd, .vm { font-weight: 500; }
/* Strings */
.s, .s1, .s2, .sa, .sb, .sc, .sh, .sx, .dl, .ss { color: var(--fg-string); }
.sd                                             { color: var(--fg-string); font-style: italic; }
.se                                             { color: var(--fg-string); font-weight: bold;  }
.si                                             { color: var(--fg); }
/* Predefined names */
.nb, .kc, .no, .ne, .sr { color: var(--fg-maroon); }
/* Generic */
.go, .gh, .gp { color: var(--fg-output);  font-weight: bold; }
.gs           { font-weight: bold; }
.ge           { font-style: italic; }
.gu           { color: var(--fg-keyword); font-weight: bold; }

/* Language overrides */

.highlight-diff .gd  { color: var(--fg-diff-deleted); background: var(--bg-diff-deleted-faint) }
.highlight-diff .gdc { background: var(--bg-diff-deleted-strong) }
.highlight-diff .gi  { color: var(--fg-diff-added)  ; background: var(--bg-diff-added-faint) }
.highlight-diff .gic { background: var(--bg-diff-added-strong) }

.highlight-bqn .o  { color: var(--fg); font-weight: normal; }
.highlight-bqn .kt { color: var(--fg); font-weight: normal; }
.highlight-bqn .kd { color: var(--fg-bqn-2-mod); }
.highlight-bqn .py { color: var(--fg-bqn-2-mod); }
.highlight-bqn .ni { color: var(--fg-bqn-sub);   }
.highlight-bqn .nv { color: var(--fg-bqn-sub);   }
.highlight-bqn .na { color: var(--fg-maroon);    }
.highlight-bqn .sr { color: var(--fg);           }

.highlight-console .gp { color: var(--fg-maroon); font-weight: normal; }
.highlight-console .o  { color: var(--fg); font-weight: normal; }

.highlight-tex .k  { color: var(--fg-soft); font-weight: normal; }
.highlight-tex .o  { color: var(--fg); font-weight: normal; }
.highlight-tex .nv { font-weight: bold; }
.highlight-tex .nb { color: var(--fg); }

.highlight-emacs-lisp .nf { font-weight: normal; }
.highlight-emacs-lisp .nb { color: var(--fg); font-weight: bold; }
.highlight-emacs-lisp .no { color: var(--fg); }
.highlight-emacs-lisp .ss { color: var(--fg); }

.highlight-JavaScript .kd { color: var(--fg-keyword); font-weight: 500; }

.highlight-makefile .k { font-weight: 500; }

.highlight-haskell .kt { color: var(--fg-maroon); font-weight: normal; }
