/* From: https://yui.github.io/skinbuilder/index.html?mode=pure */
body {
    background-color: var(--bg);
}

/* from PURE menu-core.css */
/*csslint adjoining-classes:false, outline-none:false*/
/*TODO: Remove this lint rule override after a refactor of this code.*/

.pure-skin-solid .pure-menu ul {
    position: absolute;
    visibility: hidden;
}

.pure-skin-solid .pure-menu.pure-menu-open {
    visibility: visible;
    z-index: 2;
    width: 100%;
}

.pure-skin-solid .pure-menu ul {
    left: -10000px;
    list-style: none;
    margin: 0;
    padding: 0;
    top: -10000px;
    z-index: 1;
}

.pure-skin-solid .pure-menu > ul { position: relative; }

.pure-skin-solid .pure-menu-open > ul {
    left: 0;
    top: 0;
    visibility: visible;
}

.pure-skin-solid .pure-menu-open > ul:focus {
    outline: 0;
}

.pure-skin-solid .pure-menu li {
    position: relative;
}

.pure-skin-solid .pure-menu a, .pure-skin-solid .pure-menu .pure-menu-heading {
    display: block;
    color: inherit;
    line-height: 1.5em;
    /* padding: 0.35em 1.4em; */
    text-decoration: none;
    white-space: nowrap;
}

.pure-skin-solid .pure-menu.pure-menu-horizontal > .pure-menu-heading {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0;
    vertical-align: middle;
}
.pure-skin-solid .pure-menu.pure-menu-horizontal > ul {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    /* height: 2.4em; removed for Skin Builder */
}

.pure-skin-solid .pure-menu li a { /* padding: 0.35em 1.4em; */ }

.pure-skin-solid .pure-menu-can-have-children > .pure-menu-label:after {
    content: '\25B8';
    float: right;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', sans-serif; /* These specific fonts have the Unicode char we need. */
    margin-right: -20px;
    margin-top: -1px;
}

.pure-skin-solid .pure-menu-can-have-children > .pure-menu-label {
    padding-right: 30px;
}

.pure-skin-solid .pure-menu-separator {
    background-color: var(--fg-menu-divider);
    display: block;
    height: 1px;
    font-size: 0;
    margin: 7px 2px;
    overflow: hidden;
}

.pure-skin-solid .pure-menu-hidden {
    display: none;
}

/* FIXED MENU */
.pure-skin-solid .pure-menu-fixed {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
}


/* HORIZONTAL MENU CODE */

/* Initial menus should be inline-block so that they are horizontal */
.pure-skin-solid .pure-menu-horizontal li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

/* Submenus should still be display:block; */
.pure-skin-solid .pure-menu-horizontal li li {
    display: block;
}

/* Content after should be down arrow */
.pure-skin-solid .pure-menu-horizontal > .pure-menu-children > .pure-menu-can-have-children > .pure-menu-label:after {
    content: "\25BE";
}
/*Add extra padding to elements that have the arrow so that the hover looks nice */
.pure-skin-solid .pure-menu-horizontal > .pure-menu-children > .pure-menu-can-have-children > .pure-menu-label {
    padding-right: 30px;
}

/* Adjusting separator for vertical menus */
.pure-skin-solid .pure-menu-horizontal li.pure-menu-separator {
    height: 50%;
    width: 1px;
    margin: 0 7px;
}

/* Submenus should be horizontal separator again */
.pure-skin-solid .pure-menu-horizontal li li.pure-menu-separator {
height: 1px;
width: auto;
margin: 7px 2px;
}


/* end from yuicss/menu-core.css *******************************************/
/* from yuicss menu-paginator.css */
/*csslint box-model:false*/
/*TODO: Remove this lint rule override after a refactor of this code.*/

.pure-skin-solid .pure-paginator {

    /* `pure-g` Grid styles */
    letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
    *letter-spacing: normal; /* reset IE < 8 */
    *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */

    /* `pure-paginator` Specific styles */
    list-style: none;
    margin: 0;
    padding: 0;
}
.opera-only :-o-prefocus,
.pure-skin-solid .pure-paginator {
    word-spacing: -0.43em;
}

/* `pure-u` Grid styles */
.pure-skin-solid .pure-paginator li {
    display: inline-block;
    *display: inline; /* IE < 8: fake inline-block */
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.pure-skin-solid .pure-paginator .pure-button {
    border-radius: 0;
    padding: 0.8em 1.4em;
    vertical-align: top;
    height: 1.1em;
}
.pure-skin-solid .pure-paginator .pure-button:focus,
.pure-skin-solid .pure-paginator .pure-button:active {
    outline-style: none;
}
.pure-skin-solid .pure-paginator .prev,
.pure-skin-solid .pure-paginator .next {
    /*color: #C0C1C3; allow .pure-button to color text*/
}
.pure-skin-solid .pure-paginator .prev {
    border-radius: 4px 0px 0px 4px;
}
.pure-skin-solid .pure-paginator .next {
    border-radius: 0px 4px 4px 0px;
}
/* end from PURE menu-paginator.css ******************************/
/* from PURE menu.css *******************************************/
/* MAIN MENU STYLING */
/*csslint adjoining-classes:false*/
/*TODO: Remove this lint rule override after a refactor of this code.*/

.pure-skin-solid .pure-menu.pure-menu-open,
.pure-skin-solid .pure-menu.pure-menu-horizontal li .pure-menu-children {
    background: var(--bg-menu-children); /* Old browsers */
    border: 1px solid var(--fg-menu-border);
}

/* remove borders for horizontal menus */
.pure-skin-solid .pure-menu.pure-menu-horizontal,
.pure-skin-solid .pure-menu.pure-menu-horizontal .pure-menu-heading {
    border: none;
}


/* LINK STYLES */

.pure-skin-solid .pure-menu a {
    border: 1px solid transparent;
    border-left: none;
    border-right: none;

}

.pure-skin-solid .pure-menu a,
.pure-skin-solid .pure-menu .pure-menu-can-have-children > li:after {
    color: var(--fg-menu);
}

.pure-skin-solid .pure-menu .pure-menu-can-have-children > li:hover:after {
    color: var(--fg-menu-hover);
}

/* Focus style for a dropdown menu-item when the parent has been opened */
.pure-skin-solid .pure-menu .pure-menu-open {
    background: var(--bg-menu-foc);
}

.pure-skin-solid .pure-menu li a:hover,
.pure-skin-solid .pure-menu li a:focus {
    background: var(--bg-menu-foc);
}

/* HEADINGS */
.pure-skin-solid .pure-menu .pure-menu-heading {
    color: var(--fg-menu-heading);
    text-transform: uppercase;
    font-size: 90%;
    margin-top: 0.5em;
    border-bottom: solid 1px var(--fg-menu-divider);
}

/* FIXED MENU */
.pure-skin-solid .pure-menu.pure-menu-open.pure-menu-fixed {
    border: none;
    border-bottom: 1px solid var(--fg-menu-divider);
}
/* end from PURE menu.css ***********************************/
/* from PURE menu-responsive.css ****************************/
/* RESPONSIVE */

@media (max-width: 480px) {

    .pure-skin-solid .pure-menu-horizontal {
        width:100%;
    }

    .pure-skin-solid .pure-menu-children li {
        display: block;
        border-bottom:1px solid var(--fg-menu-divider);
    }

}
/* end from menu-responsive.css ******************/
