[submodule "mathjax-node-page"]
	path = mathjax-node-page
	url = https://github.com/pkra/mathjax-node-page/
[submodule "_includes/git-introduction"]
	path = _includes/git-introduction
	url = https://gitlab.mn.tu-dresden.de/s0428072/git-introduction
