<table>
  $for(posts)$
    <tr>
      <td style="vertical-align: top; font-variant-numeric: tabular-nums;">$isodate$</td>
      <td style="vertical-align: top;">–</td>
      <td style="vertical-align: top;"><a href="$url$">$title$</a></td>
    </tr>
  $endfor$
</table>

<h1>By tag</h1>
<ul>
  $for(tags)$
</ul>
  <h2>$title$
    <div class="floatright">
      <a href="atom-$title$.xml">feed</a>
    </div>
  </h2>
  <table>
    $for(posts)$
      <tr>
        <td style="vertical-align: top; font-variant-numeric: tabular-nums;">$isodate$</td>
        <td style="vertical-align: top;">–</td>
        <td style="vertical-align: top;"><a href="$url$">$title$</a></td>
      </tr>
    $endfor$
  </table>
$endfor$
