<article>
    <p class="header">
      $if(date)$
        Posted on $date$
      $endif$
      $if(last-modified)$
        &thinsp;·&thinsp; last modified: $last-modified$
      $endif$
      $if(date)$
        &thinsp;·&thinsp; $estimated-reading-time$ &thinsp;·&nbsp;
      $endif$
      $if(tags)$
        $tags$
      $endif$
    </p>
    <section>
      <!-- A table of contents inline in the text, in case the screen is
           too small for the one in the `default.html' template -->
      $partial("templates/toc.html")$
      <!-- Body is included in the above file -->
    </section>
</article>
