<article>
    <section class="header">
      Posted on $date$
      $if(last-modified)$
        &thinsp;·&nbsp; last modified: $last-modified$
      $endif$
      $if(tags)$
        &thinsp;·&nbsp; $tags$
      $endif$
    </section>
    <section>
      <!-- A table of contents inline in the text, in case the screen is
           too small for the one in the `default.html' template -->
      $partial("templates/toc.html")$
      <!-- Body is included in the above file -->
    </section>
</article>
